:root {
    --background: #181818;
    --font-color: #f0f0f0;

    --grid--primary: #666666;
    --grid--secondary: #404040;
    --grid--tertiary: #262626;

    --red: #F2777A;
    --green: #92D192;
    --blue: #6AB0F3;
}