/* default dark theme */
svg.frame {
    --background: #181818;
    --background-darker: #181818;
    --background-lighter: #303030;
    --font-color: #f0f0f0;
    --font-color-light: #a0a0a0;

    --border-color: #606060;

    --main: #f0f0f0;
    --primary: #fee9af;

    --grid-primary: #505050;
    --grid-secondary: #404040;
    --grid-tertiary: #303030;

    --grid-quaternary: #303030;
    --grid-quinary: #282828;

    --red: #f2777a;
    --green: #92d192;
    --blue: #6ab0f3;
    --yellow: #fff888;

}

/* toggle light theme */
.light-theme svg.frame {
    --background: #ffffff;
    --background-darker: #f8f8f8;
    --background-lighter: #f0f0f0;

    --font-color: #404040;
    --border-color: #d0d0d0;

    --grid-primary: #c0c0c0;
    --grid-secondary: #d0d0d0;
    --grid-tertiary: #f0f0f0;

    --grid-quaternary: #f4f4f4;
    --grid-quinary: #f8f8f8;

    --main: #404040;

    --primary: #485bfc;
    --secondary: #4bb77e;
    --tertiary: #c74440;

    --red: #c74440;
    --green: #40a839;
    --blue: #485bfc;
}

.function-group path {
    vector-effect: non-scaling-stroke;
    stroke: var(--primary);
    stroke-width: 1.5px;
}

.grid-lines line {
    vector-effect: non-scaling-stroke;
}

.grid-lines .primary line {
    stroke: var(--grid-primary);
}

.grid-lines .secondary line {
    stroke: var(--grid-secondary);
}

.grid-lines .tertiary line {
    stroke: var(--grid-tertiary);
}

.grid-lines .quaternary line {
    stroke: var(--grid-quaternary);
}

.grid-lines .quinary line {
    stroke: var(--grid-quinary);
}

.non-scaling-stroke {
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
}

svg.interactive {
    display: block;
}

svg.responsive {
    width: 100%;
    height: auto;
    display: block;
}

.overflow-container {
    overflow: hidden;
}

.outline {
    fill: none;
    stroke: var(--main);
    stroke-width: 1px;
}

.monospace {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

/*TODO: fix this */
text,
tspan {
    fill: var(--main);
}

.no-select {
    user-select: none;
}

div.display-box {
    display: grid;
    align-items: center;
    background: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
}

.text-middle {
    dominant-baseline: middle;
    alignment-baseline: middle;
    text-anchor: middle;
}

.hard-border {
    border: 1px solid #aaaaaa;
}

.input-container {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

input.input {
    width: 100%;
    height: 2rem;
    padding-left: 8px;
    webkitappearance: textfield;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
}

.grid {
    display: block;
}

.plot path,
.plot line,
.plot rect {
    /* stroke:var(--main); */
    /* stroke-width:1px; */
    fill: none;
}

.control .point {
    fill: var(--primary);
    stroke: none;
}

.control .handle {
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 2px;
    opacity: 0;
}

.control .highlight {
    opacity: 1;
}
